In [1]:
import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [2]:
censusdata.search('acs5', 2015, 'label', 'unemploy')[160:170]

[('B23024_023E',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Income in the past 12 months at or above poverty level:!!With a disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23024_023M',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Margin of Error for!!Income in the past 12 months at or above poverty level:!!With a disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23024_030E',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Income in the past 12 months at or above poverty level:!!No disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23024_030M',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Margin of Error for!!Income in the past 12 months at or above poverty level:!!No disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23025_005E',
  'B23025.  Employment Status for the Population 16 Years and Over',
  'In labor force:!!Civilian labor force:!!Unemployed'),
 ('B23025_005M',
  'B23025.  Employment Status for the Population 16 Years and Over',
  'Margin Of Error For!!In labor force:!!Civilian labor force:!!Unemployed'),
 ('B27011_014E',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'In labor force:!!Unemployed:'),
 ('B27011_014M',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'Margin of Error for!!In labor force:!!Unemployed:'),
 ('B27011_015E',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'In labor force:!!Unemployed:!!18 to 64 years:'),
 ('B27011_015M',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'Margin of Error for!!In labor force:!!Unemployed:!!18 to 64 years:')]

In [3]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B23025'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | B23025.  Employment Status for | Total:                                                   | int
B23025_002E  | B23025.  Employment Status for | In labor force:                                          | int
B23025_003E  | B23025.  Employment Status for | !! In labor force: Civilian labor force:                 | int
B23025_004E  | B23025.  Employment Status for | !! !! In labor force: Civilian labor force: Employed     | int
B23025_005E  | B23025.  Employment Status for | !! !! In labor force: Civilian labor force: Unemployed   | int
B23025_006E  | B23025.  Employment Status for | !! In labor force: Armed Forces                          | int
B23025_007E  | B23025.  Employment Status for | Not in labor force                                       | int
-------------------------------------------------------------------------------------------------------------------

In [8]:
censusdata.printtable(censusdata.censustable('acs5', 2019, 'B15003'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B15003_001E  | EDUCATIONAL ATTAINMENT FOR THE | !! Estimate Total:                                       | int
B15003_002E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: No schooling completed             | int
B15003_003E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Nursery school                     | int
B15003_004E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Kindergarten                       | int
B15003_005E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 1st grade                          | int
B15003_006E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 2nd grade                          | int
B15003_007E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 3rd grade                          | int
B15003_008E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 4th grade                          | int
B15003_009E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 5th grade                          | int
B15003_010E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 6th grade                          | int
B15003_011E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 7th grade                          | int
B15003_012E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 8th grade                          | int
B15003_013E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 9th grade                          | int
B15003_014E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 10th grade                         | int
B15003_015E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 11th grade                         | int
B15003_016E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 12th grade, no diploma             | int
B15003_017E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Regular high school diploma        | int
B15003_018E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: GED or alternative credential      | int
B15003_019E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Some college, less than 1 year     | int
B15003_020E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Some college, 1 or more years, no  | int
B15003_021E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Associate's degree                 | int
B15003_022E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Bachelor's degree                  | int
B15003_023E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Master's degree                    | int
B15003_024E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Professional school degree         | int
B15003_025E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Doctorate degree                   | int
-------------------------------------------------------------------------------------------------------------------

In [9]:
censusdata.printtable(censusdata.censustable('acs5', 2019, 'B01001'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B01001_001E  | SEX BY AGE                     | !! Estimate Total:                                       | int
B01001_002E  | SEX BY AGE                     | !! !! Estimate Total: Male:                              | int
B01001_003E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: Under 5 years             | int
B01001_004E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 5 to 9 years              | int
B01001_005E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 10 to 14 years            | int
B01001_006E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 15 to 17 years            | int
B01001_007E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 18 and 19 years           | int
B01001_008E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 20 years                  | int
B01001_009E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 21 years                  | int
B01001_010E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 22 to 24 years            | int
B01001_011E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 25 to 29 years            | int
B01001_012E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 30 to 34 years            | int
B01001_013E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 35 to 39 years            | int
B01001_014E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 40 to 44 years            | int
B01001_015E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 45 to 49 years            | int
B01001_016E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 50 to 54 years            | int
B01001_017E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 55 to 59 years            | int
B01001_018E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 60 and 61 years           | int
B01001_019E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 62 to 64 years            | int
B01001_020E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 65 and 66 years           | int
B01001_021E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 67 to 69 years            | int
B01001_022E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 70 to 74 years            | int
B01001_023E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 75 to 79 years            | int
B01001_024E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 80 to 84 years            | int
B01001_025E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 85 years and over         | int
B01001_026E  | SEX BY AGE                     | !! !! Estimate Total: Female:                            | int
B01001_027E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: Under 5 years           | int
B01001_028E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 5 to 9 years            | int
B01001_029E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 10 to 14 years          | int
B01001_030E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 15 to 17 years          | int
B01001_031E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 18 and 19 years         | int
B01001_032E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 20 years                | int
B01001_033E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 21 years                | int
B01001_034E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 22 to 24 years          | int
B01001_035E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 25 to 29 years          | int
B01001_036E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 30 to 34 years          | int
B01001_037E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 35 to 39 years          | int
B01001_038E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 40 to 44 years          | int
B01001_039E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 45 to 49 years          | int
B01001_040E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 50 to 54 years          | int
B01001_041E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 55 to 59 years          | int
B01001_042E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 60 and 61 years         | int
B01001_043E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 62 to 64 years          | int
B01001_044E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 65 and 66 years         | int
B01001_045E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 67 to 69 years          | int
B01001_046E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 70 to 74 years          | int
B01001_047E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 75 to 79 years          | int
B01001_048E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 80 to 84 years          | int
B01001_049E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 85 years and over       | int
-------------------------------------------------------------------------------------------------------------------

In [12]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B23025'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | B23025.  Employment Status for | Total:                                                   | int
B23025_002E  | B23025.  Employment Status for | In labor force:                                          | int
B23025_003E  | B23025.  Employment Status for | !! In labor force: Civilian labor force:                 | int
B23025_004E  | B23025.  Employment Status for | !! !! In labor force: Civilian labor force: Employed     | int
B23025_005E  | B23025.  Employment Status for | !! !! In labor force: Civilian labor force: Unemployed   | int
B23025_006E  | B23025.  Employment Status for | !! In labor force: Armed Forces                          | int
B23025_007E  | B23025.  Employment Status for | Not in labor force                                       | int
-------------------------------------------------------------------------------------------------------------------

In [16]:
states = censusdata.geographies(censusdata.censusgeo([('state', '*')]), 'acs5', 2019)
states

{'Alabama': censusgeo((('state', '01'),)),
 'Alaska': censusgeo((('state', '02'),)),
 'Arizona': censusgeo((('state', '04'),)),
 'Arkansas': censusgeo((('state', '05'),)),
 'California': censusgeo((('state', '06'),)),
 'Colorado': censusgeo((('state', '08'),)),
 'Delaware': censusgeo((('state', '10'),)),
 'District of Columbia': censusgeo((('state', '11'),)),
 'Connecticut': censusgeo((('state', '09'),)),
 'Florida': censusgeo((('state', '12'),)),
 'Georgia': censusgeo((('state', '13'),)),
 'Idaho': censusgeo((('state', '16'),)),
 'Hawaii': censusgeo((('state', '15'),)),
 'Illinois': censusgeo((('state', '17'),)),
 'Indiana': censusgeo((('state', '18'),)),
 'Iowa': censusgeo((('state', '19'),)),
 'Kansas': censusgeo((('state', '20'),)),
 'Kentucky': censusgeo((('state', '21'),)),
 'Louisiana': censusgeo((('state', '22'),)),
 'Maine': censusgeo((('state', '23'),)),
 'Maryland': censusgeo((('state', '24'),)),
 'Massachusetts': censusgeo((('state', '25'),)),
 'Michigan': censusgeo((('state', '26'),)),
 'Minnesota': censusgeo((('state', '27'),)),
 'Mississippi': censusgeo((('state', '28'),)),
 'Missouri': censusgeo((('state', '29'),)),
 'Montana': censusgeo((('state', '30'),)),
 'Nebraska': censusgeo((('state', '31'),)),
 'Nevada': censusgeo((('state', '32'),)),
 'New Hampshire': censusgeo((('state', '33'),)),
 'New Jersey': censusgeo((('state', '34'),)),
 'New Mexico': censusgeo((('state', '35'),)),
 'New York': censusgeo((('state', '36'),)),
 'North Carolina': censusgeo((('state', '37'),)),
 'North Dakota': censusgeo((('state', '38'),)),
 'Ohio': censusgeo((('state', '39'),)),
 'Oklahoma': censusgeo((('state', '40'),)),
 'Oregon': censusgeo((('state', '41'),)),
 'Pennsylvania': censusgeo((('state', '42'),)),
 'Rhode Island': censusgeo((('state', '44'),)),
 'South Carolina': censusgeo((('state', '45'),)),
 'South Dakota': censusgeo((('state', '46'),)),
 'Tennessee': censusgeo((('state', '47'),)),
 'Texas': censusgeo((('state', '48'),)),
 'Vermont': censusgeo((('state', '50'),)),
 'Utah': censusgeo((('state', '49'),)),
 'Virginia': censusgeo((('state', '51'),)),
 'Washington': censusgeo((('state', '53'),)),
 'West Virginia': censusgeo((('state', '54'),)),
 'Wisconsin': censusgeo((('state', '55'),)),
 'Wyoming': censusgeo((('state', '56'),)),
 'Puerto Rico': censusgeo((('state', '72'),))}

In [18]:
# state code 06 for california
counties = censusdata.geographies(censusdata.censusgeo([('state', '06'), ('county', '*')]), 'acs5', 2019)
counties

{'Merced County, California': censusgeo((('state', '06'), ('county', '047'))),
 'Mariposa County, California': censusgeo((('state', '06'), ('county', '043'))),
 'Modoc County, California': censusgeo((('state', '06'), ('county', '049'))),
 'Contra Costa County, California': censusgeo((('state', '06'), ('county', '013'))),
 'Inyo County, California': censusgeo((('state', '06'), ('county', '027'))),
 'Stanislaus County, California': censusgeo((('state', '06'), ('county', '099'))),
 'Santa Barbara County, California': censusgeo((('state', '06'), ('county', '083'))),
 'Tehama County, California': censusgeo((('state', '06'), ('county', '103'))),
 'Mono County, California': censusgeo((('state', '06'), ('county', '051'))),
 'San Benito County, California': censusgeo((('state', '06'), ('county', '069'))),
 'Sacramento County, California': censusgeo((('state', '06'), ('county', '067'))),
 'El Dorado County, California': censusgeo((('state', '06'), ('county', '017'))),
 'Monterey County, California': censusgeo((('state', '06'), ('county', '053'))),
 'San Francisco County, California': censusgeo((('state', '06'), ('county', '075'))),
 'San Diego County, California': censusgeo((('state', '06'), ('county', '073'))),
 'Tulare County, California': censusgeo((('state', '06'), ('county', '107'))),
 'Humboldt County, California': censusgeo((('state', '06'), ('county', '023'))),
 'Alpine County, California': censusgeo((('state', '06'), ('county', '003'))),
 'Madera County, California': censusgeo((('state', '06'), ('county', '039'))),
 'Santa Cruz County, California': censusgeo((('state', '06'), ('county', '087'))),
 'Trinity County, California': censusgeo((('state', '06'), ('county', '105'))),
 'Riverside County, California': censusgeo((('state', '06'), ('county', '065'))),
 'San Bernardino County, California': censusgeo((('state', '06'), ('county', '071'))),
 'Marin County, California': censusgeo((('state', '06'), ('county', '041'))),
 'Placer County, California': censusgeo((('state', '06'), ('county', '061'))),
 'Shasta County, California': censusgeo((('state', '06'), ('county', '089'))),
 'Solano County, California': censusgeo((('state', '06'), ('county', '095'))),
 'Colusa County, California': censusgeo((('state', '06'), ('county', '011'))),
 'Glenn County, California': censusgeo((('state', '06'), ('county', '021'))),
 'Butte County, California': censusgeo((('state', '06'), ('county', '007'))),
 'Kings County, California': censusgeo((('state', '06'), ('county', '031'))),
 'Plumas County, California': censusgeo((('state', '06'), ('county', '063'))),
 'San Luis Obispo County, California': censusgeo((('state', '06'), ('county', '079'))),
 'Fresno County, California': censusgeo((('state', '06'), ('county', '019'))),
 'Kern County, California': censusgeo((('state', '06'), ('county', '029'))),
 'Orange County, California': censusgeo((('state', '06'), ('county', '059'))),
 'Ventura County, California': censusgeo((('state', '06'), ('county', '111'))),
 'Calaveras County, California': censusgeo((('state', '06'), ('county', '009'))),
 'Sutter County, California': censusgeo((('state', '06'), ('county', '101'))),
 'San Mateo County, California': censusgeo((('state', '06'), ('county', '081'))),
 'Tuolumne County, California': censusgeo((('state', '06'), ('county', '109'))),
 'San Joaquin County, California': censusgeo((('state', '06'), ('county', '077'))),
 'Amador County, California': censusgeo((('state', '06'), ('county', '005'))),
 'Lake County, California': censusgeo((('state', '06'), ('county', '033'))),
 'Yuba County, California': censusgeo((('state', '06'), ('county', '115'))),
 'Lassen County, California': censusgeo((('state', '06'), ('county', '035'))),
 'Sonoma County, California': censusgeo((('state', '06'), ('county', '097'))),
 'Imperial County, California': censusgeo((('state', '06'), ('county', '025'))),
 'Alameda County, California': censusgeo((('state', '06'), ('county', '001'))),
 'Napa County, California': censusgeo((('state', '06'), ('county', '055'))),
 'Sierra County, California': censusgeo((('state', '06'), ('county', '091'))),
 'Yolo County, California': censusgeo((('state', '06'), ('county', '113'))),
 'Nevada County, California': censusgeo((('state', '06'), ('county', '057'))),
 'Mendocino County, California': censusgeo((('state', '06'), ('county', '045'))),
 'Los Angeles County, California': censusgeo((('state', '06'), ('county', '037'))),
 'Santa Clara County, California': censusgeo((('state', '06'), ('county', '085'))),
 'Siskiyou County, California': censusgeo((('state', '06'), ('county', '093'))),
 'Del Norte County, California': censusgeo((('state', '06'), ('county', '015')))}

In [28]:
data = censusdata.download('acs5', 2019,
           censusdata.censusgeo([('state', '06'),
                                 ('county', '001')]),
          ['B23025_001E', 'B23025_002E', 'B23025_003E',
           'B23025_004E', 'B23025_005E',
           'B23025_006E', 'B23025_007E'])

In [26]:
data

                                                    B23025_001E  B23025_002E  B23025_003E  B23025_004E  B23025_005E  B23025_006E  B23025_007E
Alameda County, California: Summary level: 050,...      1348945       905633       904174       862449        41725         1459       443312

In [23]:
census = censusdata.download('acs5', 2015,
           censusdata.censusgeo([('state', '*'), ('county', '*')]),
           ['B08301_001E', 'B08301_010E'])

In [24]:
census.head()

                                                    B08301_001E  B08301_010E
Childress County, Texas: Summary level: 050, st...         2517            0
Comal County, Texas: Summary level: 050, state:...        53161           41
Houston County, Texas: Summary level: 050, stat...         7570            3
Navarro County, Texas: Summary level: 050, stat...        19513           10
Scurry County, Texas: Summary level: 050, state...         7324           68

In [ ]:
# relevant tables:
# Total Population - B01003
# Race - B02001
# median income in the last 12 months - B06011_001E
# median age by sex - B01002
# 17011 - families with income in the past 12 months below the poverty level

### Download Ethnicity data and reindex

In [70]:
data = censusdata.download('acs5', 2019,
           censusdata.censusgeo([('state', '06'),
                                 ('county', '*')]),
          ['B02001_001E', 'B02001_002E', 'B02001_003E',
           'B02001_004E', 'B02001_005E',
           'B02001_006E', 'B02001_007E',
           'B02001_008E', 'B02001_009E',
           'B02001_010E',
          ])
ethnicityColumnNames = ['Total', 'White', 'Black or African American', 'American Indian and Alaska Native', 'Asian', 'Native Hawiian and Other Pacific Islander', 'Some other race', 'Two or more races', 'Two races including some other race', 'Two races excluding some other race and three or more races']

In [71]:
def parseFIPS(s):
    p = str(s).split(' ')
    stateID = p[-2][-3:-1]
    countyID = p[-1][-3:]
    return stateID + countyID
data.columns = ethnicityColumnNames
oldIndex = data.index
newIndex = [parseFIPS(s) for s in oldIndex]
data['fips'] = newIndex
data.set_index('fips')

          Total    White  Black or African American  American Indian and Alaska Native    Asian  Native Hawiian and Other Pacific Islander  Some other race  Two or more races  Two races including some other race  Two races excluding some other race and three or more races
fips
06047    271382   149434                       8645                               2501    20349                                        654            78735              11064                                 4123                                               6941
06043     17420    15402                        253                                332      210                                         53              415                755                                   45                                                710
06049      8907     7976                        136                                372       99                                          9              111                204                                   43                                                161
06013   1142251   637904                      99642                               5506   190983                                       5631           124629              77956                                14659                                              63297
06027     17977    14170                        153                               2028      350                                         34              392                850                                  232                                                618
06099    543194   415911                      16547                               4418    30007                                       3961            49786              22564                                 6241                                              16323
06083    444829   344778                       8984                               4644    24849                                        581            42441              18552                                 3718                                              14834
06103     63912    54795                        530                               1255      967                                         28             3470               2867                                  538                                               2329
06051     14310    11921                        111                                497      367                                          0              882                532                                   89                                                443
06069     60376    49245                        491                                443     1804                                         57             5138               3198                                  885                                               2313
06067   1524553   873905                     149891                              10111   239447                                      17400           119922             113877                                17484                                              96393
06017    188563   165234                       1516                               1532     8540                                        486             3992               7263                                  750                                               6513
06053    433410   230992                      11367                               2993    24326                                       2135           143041              18556                                 3615                                              14941
06075    874961   406056                      45556                               3223   301018                                       3188            67207              48713                                 8219                                              40494
06073   3316073  2345667                     166750                              22524   394742                                      13867           198729             173794                                29427                                             144367
06107    461898   340462                       7201                               6118    16690                                        766            74949              15712                                 5550                                              10162
06023    135940   108557                       1506                               6846     4196                                        488             5707               8640                                  587                                               8053
06003      1039      599                          9                                353       10                                          6                9                 53                                    0                                                 53
06039    155433   108100                       4949                               2489     3229                                        176            31429               5061                                 1632                                               3429
06087    273962   204866                       2904                               1505    13134                                        337            38130              13086                                 2174                                              10912
06105     12700    10924                        127                                716      226                                         28              428                251                                   20                                                231
06065   2411439  1444654                     156836                              19765   157261                                       7485           519122             106316                                30129                                              76187
06071   2149031  1315238                     179292                              17782   154332                                       6838           368600             106949                                31661                                              75288
06041    259943   202313                       5767                                911    15367                                        571            22258              12756                                 1817                                              10939
06061    385512   316716                       6626                               2052    28909                                        858            11358              18993                                 2357                                              16636
06089    179212   155124                       2088                               4832     5798                                        254             3607               7509                                  874                                               6635
06095    441829   232437                      61526                               2215    68200                                       4101            40346              33004                                 4576                                              28428
06011     21454    18949                        327                                225      309                                         38              997                609                                   26                                                583
06021     27976    22685                        230                                682      825                                         11             2898                645                                   72                                                573
06007    225817   184180                       3461                               2616    10432                                        603            10754              13771                                 2006                                              11765
06031    150691   102062                       9642                               2431     5817                                        277            24319               6143                                 1090                                               5053
06063     18660    16855                        166                                282      222                                         86              295                754                                   18                                                736
06079    282165   241123                       5319                               2458    10296                                        265            12267              10437                                 1582                                               8855
06019    984521   639985                      46782                              11656   101857                                       1620           142237              40384                                 9242                                              31142
06029    887641   660147                      48550                               8969    42100                                       1678            95165              31032                                 8713                                              22319
06059   3168044  1931263                      55591                              14424   649042                                      10152           377563             130009                                25699                                             104310
06111    847263   678658                      15594                               6760    62190                                       1698            44227              38136                                 7216                                              30920
06009     45514    41173                        315                                353      684                                         19              608               2362                                  123                                               2239
06101     96109    66293                       1827                                878    15048                                        548             4730               6785                                  746                                               6039
06081    767423   388318                      17784                               3002   220151                                      10366            84310              43492                                 8226                                              35266
06109     54045    47447                        984                                965      754                                        123             1406               2366                                  452                                               1914
06077    742603   419288                      51931                               4706   115531                                       4565            65384              81198                                 8892                                              72306
06005     38429    33327                        904                                303      508                                         57             1500               1830                                  128                                               1702
06033     64195    49389                       1447                               2310      723                                         42             7909               2375                                  340                                               2035
06115     76360    58016                       2621                                936     5201                                        351             3581               5654                                  415                                               5239
06035     30818    25324                       2686                                864      428                                        247              510                759                                  118                                                641
06097    499772   373667                       8269                               4395    20443                                       1606            64631              26761                                 5814                                              20947
06025    180701   117658                       4489                               1912     2680                                        309            47139               6514                                 2877                                               3637
06001   1656754   670364                     175751                              11120   499382                                      13900           179244             106993                                20746                                              86247
06055    139623   102467                       2883                               1196    11352                                        301            16044               5380                                 1016                                               4364
06091      3040     2963                          2                                 51        0                                          0                0                 24                                    0                                                 24
06113    217352   150617                       5847                               1306    30462                                        955            14506              13659                                 1678                                              11981
06057     99244    91726                        570                                723     1073                                        124             1254               3774                                  156                                               3618
06045     87224    72935                        628                               3818     1805                                        165             3583               4290                                  296                                               3994
06037  10081570  5168443                     820478                              73393  1473221                                      27720          2115548             402767                               115953                                             286814
06085   1927470   857092                      47992                               9697   702881                                       7271           202394             100143                                19125                                              81018
06093     43468    36847                        695                               1618      708                                        157              636               2807                                  291                                               2516
06015     27495    20581                        940                               1986      888                                         44             1320               1736                                  393                                               1343

# US Flows

In [1]:
import numpy as np
import pandas as pd

### Playing around

In [3]:
# download file to data directory
!wget -O data/daily_county2county_2020_03_01.csv https://raw.githubusercontent.com/GeoDS/COVID19USFlows/master/daily_flows/county2county/daily_county2county_2020_03_01.csv

--2021-05-27 11:46:26--  https://raw.githubusercontent.com/GeoDS/COVID19USFlows/master/daily_flows/county2county/daily_county2county_2020_03_01.csv
Resolving web.ucsd.edu (web.ucsd.edu)... 132.239.1.230, 132.239.1.231
Connecting to web.ucsd.edu (web.ucsd.edu)|132.239.1.230|:3128... connected.
Proxy request sent, awaiting response... 200 OK
Length: 64502420 (62M) [text/plain]
Saving to: ‘data/daily_county2county_2020_03_01.csv’

data/daily_county2c 100%[===================>]  61.51M   188MB/s    in 0.3s

2021-05-27 11:46:26 (188 MB/s) - ‘data/daily_county2county_2020_03_01.csv’ saved [64502420/64502420]

In [5]:
# read in data
df = pd.read_csv('data/daily_county2county_2020_03_01.csv')

In [9]:
df.head()

,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,date_range,visitor_flows,pop_flows
0,1001,1001,-86.642757,32.534921,-86.642757,32.534921,2020-03-01,9238,86486.0
1,1001,1003,-86.642757,32.534921,-87.749845,30.660974,2020-03-01,44,411.0
2,1001,1005,-86.642757,32.534921,-85.393197,31.869603,2020-03-01,2,18.0
3,1001,1007,-86.642757,32.534921,-87.126439,32.998644,2020-03-01,9,84.0
4,1001,1011,-86.642757,32.534921,-85.715697,32.100554,2020-03-01,1,9.0

### Important stuff starting here

In [63]:
def downloadFlowCSV(year, month, day):
    '''
    downloads the flow data for a given day and loads into a dataframe
    uses daily, county2county data
    '''
    # download file to data directory
    date_str = '{0}_{1:02d}_{2:02d}'.format(year, month, day)
    command = 'wget -O data/daily_county2county_' + date_str + '.csv https://raw.githubusercontent.com/GeoDS/COVID19USFlows/master/daily_flows/county2county/daily_county2county_' + date_str + '.csv'
    ! $command
    df = pd.read_csv('data/daily_county2county_' + date_str + '.csv')
    return df

In [67]:
def getFlows(df):
    '''
    produces a dict of a dict of flows
    i.e. origin_fips : destination_fips : population_flow_rate
    ex) 1001 : 1003 : 411.0
    df: the full daily, county2county data frame
    returns: dict of a dict of floats
    '''
    flows = {}
    origin_fips = set(df['geoid_o'])
    for o_fips in origin_fips:
        o_df = df[df['geoid_o'] == o_fips]
        d_fips_to_flow = {int(x['geoid_d']): x['pop_flows'] for i,x in o_df[['geoid_d', 'pop_flows']].iterrows()}
        flows[o_fips] = d_fips_to_flow
    return flows

In [47]:
# might be useful for plotting?
def getCentroid(df):
    '''
    parses out the centroid of each county from the dataframe
    i.e. origin_fips : (longitude, latitude)
    df: the full daily, county2county data frame
    returns: dict of tuples
    '''
    centroids = {}
    origin_fips = set(df['geoid_o'])
    for o_fips in origin_fips:
        o_df = df[df['geoid_o'] == o_fips].iloc[0]
        centroids[o_fips] = (o_df['lng_o'], o_df['lat_o'])
    return centroids

In [65]:
# example
df = downloadFlowCSV(2020, 3, 1)

--2021-05-27 12:39:53--  https://raw.githubusercontent.com/GeoDS/COVID19USFlows/master/daily_flows/county2county/daily_county2county_2020_03_01.csv
Resolving web.ucsd.edu (web.ucsd.edu)... 132.239.1.230, 132.239.1.231
Connecting to web.ucsd.edu (web.ucsd.edu)|132.239.1.230|:3128... connected.
Proxy request sent, awaiting response... 200 OK
Length: 64502420 (62M) [text/plain]
Saving to: ‘data/daily_county2county_2020_03_01.csv’

data/daily_county2c 100%[===================>]  61.51M   193MB/s    in 0.3s

2021-05-27 12:39:56 (193 MB/s) - ‘data/daily_county2county_2020_03_01.csv’ saved [64502420/64502420]

In [69]:
flows = getFlows(df)

In [70]:
centroid = getCentroid(df)